<div id="<%= dom_id task %>">
  <p class="d-flex flex-column">
    <strong>Nome</strong>
    <%= task.nome %>
  </p>
  <p class="d-flex flex-column">
    <strong>Descrição</strong>
    <%= task.description %>
  </p>
</div>
