<div id="<%= dom_id task %>">
  <p class="d-flex flex-column">
    <strong>Nome</strong>
    <%= task.nome %>
  </p>
  <p>
    <% unless task.resolvida %>
      <strong>Tarefa Concluída</strong>
    <% end %>
  </p>
</div>
