<div class="d-flex flex-column align-items-center justify-content-center vh-100">
  <h1 class="text-center mt-9">Nova Tarefa</h1>
  <div id="tarefas" class="m-2 d-flex flex-column">
    <%= render "form", task: @task %>
    <%= link_to "Voltar para Tarefas Pendentes", tasks_path, class: "btn btn-primary mt-3" %>
      </div>
  </div>
</div>